BCI_MODE=simulator
BCI_APP_URL=http://127.0.0.1:8002
BCI_EVENT_TOKEN=change-me
BCI_USER_ID=demo-user
BCI_OSC_HOST=127.0.0.1
BCI_OSC_PORT=7000
BCI_BASELINE_SECONDS=30
BCI_DIP_SECONDS=30
BCI_DIP_SCORE=0.35
